---
import { BUSINESS } from "../consts";
const tel = `tel:${BUSINESS.phone.replace(/\s/g, "")}`;
---
<nav class="site">
  <a class="brand" href="/" aria-label="mh painting home"><img src="/logo.png" alt="mh painting" width="82" height="48" /></a>
  <div class="links">
    <a href="/projects">Our Work</a>
    <a href="/blog">Blog</a>
    <a href="/contact">Contact</a>
    <a class="call" href={tel}>{BUSINESS.phone}</a>
  </div>
</nav>
